<div class="jumbotron">
  <h1>Hello!</h1>
  <p class="lead">
    <img src="//2.gravatar.com/avatar/b7ba58abd7dba707a1df4fc9f2b50af8" alt="I'm Tom Wayson"><br>
    Welcome to my GitHub pages.
  </p>
  <p><a class="btn btn-lg btn-success" href="//github.com/tomwayson/tomwayson.github.com">View the Source on GitHub</a></p>
</div>

<div class="row marketing">
  <h4>About</h4>
  <p>
    This site is both a place for me to play with and teach myself front-end technologies (like <a href="https://angularjs.org/">Angular JS</a>), as well as a <a ng-href="#/projects">portfolio of open source projects that I've been working on</a>.
  </p>
  <p>
    I've been building this site in my spare time with the <a href="https://github.com/yeoman/generator-angular">Yeoman generator for Angular</a> and the <a href="https://developer.github.com/v3/">GitHub REST API</a>. You may have noticed the complete lack of any design other than including <a href="http://getbootstrap.com">Bootstrap</a>. That is intentional.
  </p>
</div>
