<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">Projects</a></li>
    <li><a href="//github.com/tomwayson/">Profile</a></li>
    <li><a href="https://osrc.dfm.io/tomwayson/">Report Card</a>
  </ul>
  <h3 class="text-muted">tomwayson.github.io</h3>
</div>

<div class="jumbotron">
  <h1>Hello!</h1>
  <p class="lead">
    <img src="//2.gravatar.com/avatar/b7ba58abd7dba707a1df4fc9f2b50af8" alt="I'm Tom Wayson"><br>
    Welcome to my GitHub pages.
  </p>
  <p><a class="btn btn-lg btn-success" href="//github.com/tomwayson/tomwayson.github.com">View the Source on GitHub</a></p>
</div>

<div class="row marketing">
  <h4>Look Familiar?</h4>
  <p>
    This placeholder page was build with the <a href="https://github.com/yeoman/generator-angular">Yeoman generator for Angular</a> and I've only made a few minor modifications <em>so far</em>. More to come soon!
  </p>

  <h4>Projects</h4>
  <p>
    I plan to include a curated list of projects that I've contributed to.
  </p>

  <h4>Profile</h4>
  <p>Right now you can link directly to <a href="//github.com/tomwayson/">my GitHub profile</a> and see what I've been up to.</p>
</div>

<div class="footer">
  <p>♥ to the Yeoman team!</p>
</div>
